# Banco de Dados
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/whatsapp_affiliate?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Configurações da API Backend
PORT=5000
JWT_SECRET="insira_sua_chave_secreta_jwt_aqui_12345"

# Configurações do Frontend
NEXT_PUBLIC_API_URL="http://localhost:5000"
